.review {
    background: #fff;
    border: 1px solid #DDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    min-height: 110px;
    margin: 15px auto;
    padding: 20px 15px 10px;
    width: 100%;
}

.review:first-of-type {
    border-color: #921ebc;
}

.review .small_row {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2px;
}

.review .brand {
    flex-direction: column;
    width: 150px;
    max-width: 50%;
}

.review .brand .logoWrap {
    display: block;
    height: auto;
    line-height: 0;
    position: relative;
    text-indent: -9999px;
}

.review .brand .logoWrap img {
    display: block;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.review .brand .logoLink {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.review .claimit {
    flex-direction: column;
    text-transform: uppercase;
}

.review .claimit a {
    background: #921ebc;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
}

.review .claimit a:after {
    content: "\00a0\003e";
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .review {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .review h5,
    .review h6 {
        font-size: 14px;
    }
    .review .small_row {
        flex-grow: 2;
    }
    .review .claimit {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    .review .claimit a {
        font-size: 12px;
    }
}

@media all and (min-width: 768px) {
    .review {
        align-items: center;
        display: flex;
        height: 160px;
        justify-content: space-between;
        padding-left: 30px;
        max-width: 1100px;
    }
    .review:nth-of-type(3) {
        max-width: 1130px;
    }
    .review:nth-of-type(2) {
        max-width: 1160px;
    }
    .review:first-of-type {
        max-width: 1190px;
    }
    .review .rating {
        flex-grow: 0;
        margin: 0 20px;
    }
    .review .rating .number {
        color: #fc9d9d;
        margin: auto 0;
        width: 3em;
    }
    .review:first-of-type .rating .number {
        color: #e3dc19;
    }
    .review:nth-of-type(2) .rating .number,
    .review:nth-of-type(3) .rating .number {
        color: #921ebc;
    }
    .review .rating .votes {
        flex-direction: column;
        margin: auto 4px;
    }
    .review .rating .votes .up,
    .review .rating .votes .down {
        border: 5px solid transparent;
        height: 0;
        margin: 0 auto;
        padding: 0;
        width: 0;
    }
    .review .rating .votes .up {
        border-bottom: 7px solid #dcdbdb;
    }
    .review .rating .votes .down {
        border-top: 7px solid #dcdbdb;
    }
    .review .rating .votes .count p {
        color: #b6b4b4;
        font-size: 10px;
        line-height: 1.5em;
    }
    .review .small_row {
        box-sizing: border-box;
        flex-grow: 1;
    }
    .review .brand {
        max-width: 20%;
    }
    .review .claimit {
        flex-grow: 0;
    }
}

@media all and (min-width: 1220px) {
    .review:nth-of-type(3) {
        padding-left: 45px;
        padding-right: 30px;
    }
    .review:nth-of-type(2) {
        padding-left: 60px;
        padding-right: 45px;
    }
    .review:first-of-type {
        padding-left: 75px;
        padding-right: 60px;
    }
    /*  .review:nth-of-type(2) .rating .number {
    padding-right: 10px;
  }
  .review:first-of-type .rating .number {
    padding-right: 20px;
  }*/
}