.bonus {
  max-width: 50%;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.bonus h6 {
  line-height: 1em;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .bonus {
    min-width: 130px;
  }
}
@media all and (min-width: 768px) {
  .bonus {
    width: 35%;
  }
}